<div class="form-group flexrow">
  <label class="flex1">{{localize label}}</label>
  <div class="form-fields flex3">
    <input type="text" name="{{field}}" value="{{value}}" placeholder="{{localize label}}" class="corners" />
  </div>
</div>
