<div class="form-group flexrow">
	{{#if (ne label '')}}
  	<label class="flex1">{{localize label}}</label>
	{{/if}}
  <div class="form-fields flex3">
    <input type="text" name="{{field}}" value="{{value}}" placeholder="{{localize label}}" />
  </div>
</div>
