@font-face {
	font-family: "Chomsky";
	src: url(./less/fonts/Chomsky.woff);
}

@font-face {
	font-family: "LibreBaskerville";
	src: url(./less/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf);
}

@font-face {
	font-family: "LibreBaskerville";
	src: url(./less/fonts/LibreBaskerville/LibreBaskerville-Italic.ttf);
	font-style: italic;
}

@font-face {
	font-family: "LibreBaskerville";
	src: url(./less/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf);
	font-style: bold;
}

@font-face {
	font-family: "Junge";
	src: url(./less/fonts/Junge-Regular.ttf);
}

.title-font() {
  font-family: "Chomsky", sans-serif;
}

.small-header-font() {
	font-family: "Junge", serif;
}

.body-font() {
	font-family: "LibreBaskerville", serif;
}
