.flexrow.spaced {
  column-gap: 0.25rem;
}
.flexrow.spaced.wide {
  column-gap: 1rem;
}
.flexcol.spaced {
  row-gap: 0.25rem;
}
.flexcol.spaced.wide {
  row-gap: 1rem;
}
.flex0 {
  flex: 0;
}
.flex4 {
  flex: 4;
}
.flex {
  display: flex !important;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
@font-face {
  font-family: "Chomsky";
  src: url(./less/fonts/Chomsky.woff);
}
@font-face {
  font-family: "LibreBaskerville";
  src: url(./less/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf);
}
@font-face {
  font-family: "LibreBaskerville";
  src: url(./less/fonts/LibreBaskerville/LibreBaskerville-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "LibreBaskerville";
  src: url(./less/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf);
  font-style: bold;
}
.trespasser {
  font-family: "LibreBaskerville", serif;
  background-color: #f8f9fa;
}
.trespasser .section {
  padding: 10px;
  margin: 0.25rem;
  border-bottom-style: groove;
  border-right-style: groove;
  border-radius: 4px;
  border-width: 2px;
  background-color: #f8f9fa;
  align-items: center;
}
.trespasser .box {

  padding: 2px;
}
.trespasser input, .trespasser .fakeinput, .trespasser .button{
  border-style: none;
  text-align:center;
  border-radius: 1px;
  background-color: #DEDEDE;
  height: 24px;
  align-self:  center;
  padding: 2px;
  margin: 2px;
  margin-left: 2px;
  align-self: center;
  align-items: center;
}
.trespasser .fakeinput{
  background-color: #DDDDD7;
}
.trespasser .topbar input{
  text-align: left;
}
.trespasser .button{
  border-style: outset;
  border-width: 1px;
}
.trespasser h1,
.trespasser h2,
.trespasser h3,
.trespasser h4,
.trespasser h5 {
  font-family: "Chomsky", sans-serif;
  border-bottom: none;
  margin: 0 0 0.25rem;
  padding: 0;
  position: relative;
}
.trespasser h1 a.addItem,
.trespasser h2 a.addItem,
.trespasser h3 a.addItem,
.trespasser h4 a.addItem,
.trespasser h5 a.addItem {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  font-size: 1rem;
}
.trespasser h1 small,
.trespasser h2 small,
.trespasser h3 small,
.trespasser h4 small,
.trespasser h5 small {
  font-size: 0.8em;
  text-transform: initial;
}
.trespasser .window-header .window-title {
  font-family: "LibreBaskerville", serif;
}
