.flexrow.spaced {
  column-gap: 0.25rem;
}
.flexrow.spaced.wide {
  column-gap: 1rem;
}
.flexcol.spaced {
  row-gap: 0.25rem;
}
.flexcol.spaced.wide {
  row-gap: 1rem;
}
.flex0 {
  flex: 0;
}
.flex4 {
  flex: 4;
}
.flex {
  display: flex !important;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.trespasser .img {
  text-align: center;
  min-width: 60px;
}
.trespasser .img img {
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
.trespasser .description {
  --editor-height: 60px;
  flex: 1;
  display: flex;
  min-height: var(--editor-height);
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.trespasser .description .editor {
  min-height: var(--editor-height);
  width: 100%;
}
.trespasser .description .editor .editor-content {
  min-height: var(--editor-height);
}
.trespasser .description .editor .tox.tox-tinymce {
  min-height: var(--editor-height);
}
.trespasser .description.short {
  --editor-height: 30;
}
@font-face {
  font-family: "Chomsky";
  src: url(./less/fonts/Chomsky.woff);
}
@font-face {
  font-family: "LibreBaskerville";
  src: url(./less/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf);
}
@font-face {
  font-family: "LibreBaskerville";
  src: url(./less/fonts/LibreBaskerville/LibreBaskerville-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "LibreBaskerville";
  src: url(./less/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf);
  font-style: bold;
}
@font-face {
  font-family: "Junge";
  src: url(./less/fonts/Junge-Regular.ttf);
}
.trespasser {
  font-family: "LibreBaskerville", serif;
}
.trespasser h1,
.trespasser h2 {
  font-family: "Chomsky", sans-serif;
  border-bottom: none;
  margin: 0 0 0.25rem;
  padding: 0;
  position: relative;
}
.trespasser h1 a.addItem,
.trespasser h2 a.addItem {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  font-size: 1rem;
}
.trespasser h1 small,
.trespasser h2 small {
  font-size: 0.8em;
  text-transform: initial;
}
.trespasser h3,
.trespasser h4,
.trespasser h5 {
  font-family: "Junge", serif;
  border-bottom: none;
  margin: 0 0 0.25rem;
  padding: 0;
  position: relative;
  font-weight: 800;
  text-transform: uppercase;
}
.trespasser h3 a.addItem,
.trespasser h4 a.addItem,
.trespasser h5 a.addItem {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  font-size: 1rem;
}
.trespasser h3 small,
.trespasser h4 small,
.trespasser h5 small {
  font-size: 0.8em;
  text-transform: initial;
}
.trespasser .window-header .window-title {
  font-family: "LibreBaskerville", serif;
}
