.flexrow.spaced {
  column-gap: 0.25rem;
}
.flexrow.spaced.wide {
  column-gap: 1rem;
}
.flexcol.spaced {
  row-gap: 0.25rem;
}
.flexcol.spaced.wide {
  row-gap: 1rem;
}
.flex0 {
  flex: 0;
}
.flex4 {
  flex: 4;
}
.flex5{
  flex:5;
}
.flex6{
  flex:6;
}
.flex {
  display: flex !important;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.window-app .window-content {
  background: #ededed;
}
h1 {
  font-family: "CantaraGotica", sans-serif;
  padding: 0.05rem 0.4rem 0;
  height: 60px;
  font-size: 40px;
}
.trespasser label {
  font-family: "Gotham", sans-serif;
  font-size: 18px;
  font-weight: 750px;
}
.trespasser .boxed label {
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  line-height: 0.8em;
  font-weight: 800;
}
.grey{
  color: grey;
}
.long{
  height:100px;
}
 .profile-img,.img {
  text-align: center;
  object-fit:   contain;
  height: 100px;
  width: 100px;
}
.trespasser .description {
  --editor-height: 100%;
  height: 200px;
  flex: 1;
  display: flex;
  min-height: var(--editor-height);
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.trespasser .description .editor {
  min-height: var(--editor-height);
  width: 100%;
}
.trespasser .description .editor .editor-content {
  min-height: var(--editor-height);
}
.trespasser .description .editor .tox.tox-tinymce {
  min-height: var(--editor-height);
}
.trespasser .description.short {
  --editor-height: 30;
}
@font-face {
  font-family: "CantaraGotica";
  src: url(./less/fonts/CantaraGotica.ttf);
}
@font-face {
  font-family: "Lusitana";
  src: url(./less/fonts/Lusitana-Regular.ttf);
}
@font-face {
  font-family: "Gotham";
  src: url(./less/fonts/Gotham-Black.otf);
}
@font-face {
  font-family: "Boucherie";
  src: url(./less/fonts/Boucherie-Block-Bold.ttf);
}


.trespasser, body {
  font-family: "Lusitana", serif;
  background-color: #444444;
}
.trespasser .section {
  padding: 10px 3px;
  margin-left: 0.25em 0.1em;
  border-bottom-style: groove;
  border-right-style: groove;
  border-radius: 4px;
  border-width: 2px;
  background-color: #f8f9fa;
  align-items: center;
}
.expand{
  display: none;
}
.deed{
  width: 44.5%;
  margin:5px;
  border-bottom-style: groove;
  border-right-style: groove;
  border-radius: 2px;
  border-width: 2px;
  background-color: #e9ecef;
  padding:5px;
}
.rollvalue{
  margin: 2px;
  padding: 1px;
  background-color: #f8f9fa;
  border-radius: 5px;
}
.simple-card, .spell-card{
  border-bottom-style: groove;
  border-right-style: groove;
  border-radius: 2px;
  border-width: 2px;
  background-color: #e9ecef;
  		width: 100%;
}
.trespasser .box {
  padding: 2px;
}
.boxed{
  border-width: thin;
  border-style: dashed;
  padding: 2px;
}
.trespasser input, .trespasser .fakeinput, .trespasser .button{
  border-style: none;
  text-align:center;
  border-radius: 1px;
  background-color: #DEDEDE;
  height: 24px;
  align-self:  center;
  padding: 2px;
  margin: 2px;
  margin-left: 2px;
  align-self: center;
  align-items: center;
}
.trespasser .fakeinput{
  background-color: #DDDDD7;
}
.trespasser .topbar input{
  text-align: left;
}
.trespasser .button{
  border-style: outset;
  border-width: 1px;
}
h2, .trespasser .tabs {
  font-family: "Boucherie", sans-serif;
  border-bottom: none;
  margin: 0 0 0.25rem;
  padding: 0;
  position: relative;
}
.trespasser h1 a.addItem,
.trespasser h2 a.addItem {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  font-size: 1rem;
}
.trespasser h1 small,
.trespasser h2 small {
  font-size: 0.8em;
  text-transform: initial;
}
h3,
h4,
h5,
h6, p b  {
  font-family: "Gotham", sans-serif;
  border-bottom: none;
  margin: auto;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}
.flex-container{
  display: flex;
  flex-flow: row wrap;
}
.table{
  font-size: 0.8em;
}
.skills input,input.keyattribute{
  width: 1.4em;
  height: 1.4em;
  padding: 0;
  margin: 0;
}
.trespasser h3 a.addItem,
.trespasser h4 a.addItem,
.trespasser h5 a.addItem {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  font-size: 1rem;
}
.trespasser h3 small,
.trespasser h4 small,
.trespasser h5 small {
  font-size: 0.8em;
  text-transform: initial;
}
.trespasser .window-header .window-title {
  font-family: "Lusitana", serif;
}
p.small{
  font-size: 0.8em;
  margin: auto;
  padding: 0;
}
