<div class="flexcol spaced">
	<div class="flexrow">
		<h3 class="">{{localize 'TRESPASSER.CombatLabels.initiative'}}</h3>
		<h4 class="">{{localize 'TRESPASSER.CombatLabels.initiative'}}</h4>
		<h5 class="">{{localize 'TRESPASSER.CombatLabels.initiative'}}</h5>
		<p class="">{{system.initiative}}</label>
		<p class=""><strong>Unsure of his footing and tired and straining against his opponent.</strong></p>
	</div>
</div>
