<div class="flexcol spaced">
	<div class="flexrow">
		<h1 class="">{{localize 'TRESPASSER.CombatLabels.initiative'}}</h1>
		<p class="">{{system.initiative}}</label>
		<p class=""><strong>Unsure of his footing and tired and straining against his opponent.</strong></p>
	</div>
</div>
