<form class="trespasser monster" autocomplete="off">
	<div class="flexrow spaced section">
		<img class="profile-img flex1" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
		<input class="flex6" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
	</div>
	<div class="flexrow spaced main">
		<div id="body" class="flex3 section">
		</div>
	</div>
</div>
</form>
