<div class="message-text flexcol">
  {{#if roll}}
  {{else}}
  <br>
  <div>
      <h5>{{name}} | {{type}}</h5>
  </div>
  {{/if}}
  {{#if message}}
  <div>
    <hr>
  </div>
  <div class="">
    <p>{{message}}</p>
  </div>
  {{/if}}
</div>
