<div class="spell-card">
  <div class="expand-header flexrow">
    <h3 class="flex3">{{name}}</h3> <h5 class="flex1">{{system.casting_penalty}}</h5>
  </div>
	<div class="expand">{{{system.details}}}</div>
</div>
